/.idea/
*.iml

#Selenium
Selenium/.gradle
Selenium/build

#Selenide

Selenide/.gradle
Selenide/build

#Selenoide

Selenoid/.gradle
Selenoid/build

#Selenide-Appium

Selenide-Appium/.gradle
Selenide-Appium/build

#Appium

Appium/.gradle
Appium/build